@import "./src/assets/styles/index";

.productItem {
    & .item {
        height: 40vh;
        width: 17vw;
        border-radius: 7px;

        background-color: rgba(11.37, 11.37, 12.16, 0.85);

        @include flex(center, column, center);
        color: white;

        & .phoneImage {
            margin: 0 auto;
            min-height: 75%;
            width: 250px;
            object-fit: contain;
        }
        & .productName {
            color: #fff;
            font-size: 20px;

            @include flex(center, flex-start, center);
            height: 100%;
        }
        & .productPrice {
            color: #fff;
            font-size: 20px;
            @include flex(center, center, center);
            height: 100%;
        }
    }
}